# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Ignore dependencies
/node_modules
/.pnp
.pnp.js

# Ignore production
/build

# Ignore Mac system files
.DS_store


# Ignore all text files
*.txt

# Ignore files related to API keys
.env